   .container {
    padding: 50px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    .no-break {
        display: flex !important; /* Force flex display on mobile */
        flex-wrap: nowrap !important; /* Prevent wrapping */
    }
}

