   body
   {
    background-color: ghostwhite !important ; 
   }
   
   .container {
    padding: 50px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    .no-break {
        display: flex !important; /* Force flex display on mobile */
        flex-wrap: nowrap !important; /* Prevent wrapping */
    }

   .no-break img {
       width: 95% !important;
        flex-wrap: nowrap !important; /* Prevent wrapping */
    }

   .row>* {
    flex-shrink: unset !important;
}

   .Content_img
   {
      padding:0 10px !important;
   }

   .center H1
   {
      margin-top:20px;
   }

   .center_contain
   {
    width: 100%;
    height: 100%;
   }

}

