*{
    margin: 0 auto;
    padding: 0;
}

:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --main-color: #FFF1BA;
  }

body
{
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
  
}

a {
    text-decoration: none;
}


.navigation-bar
{
  
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: var( --main-color);
}

.second-element
{
padding-left: 0;
}

/* line animation open */
.header-list a 
{
    text-decoration: none;
    color: black;
position: relative;
padding-bottom: 1.55rem;
     
}


.header-list a:after {    

bottom: 0;
content: "";
display: block;
height: 3px;
left: 50%;
position: absolute;
background: var( --Second-color);
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;

}
.header-list a:hover:after { 
width: 100%; 
left: 0; 
}

.header-list a:hover
{
 color: rgb(71, 60, 17) !important;
}

/* line  animation close */

/* Dropdown Open */
header nav ul li ul
{
    display: none;
    position: absolute;
    transform: translate(-89px, 23px);
    background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    z-index: 1;
    /* text-align: center;
   */
   min-width: unset;
}

header nav ul li ul li
{
    padding: 14px 1.7rem !important;
    min-width: none;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.header-list li:hover .FirstDropdown { 
    display: block;
    }

    .header-list li:hover .SecondDropdown { 
        display: block;
        }

        .header-list li:hover .ThirdDropdown { 
            display: block;
            }

.firstchild
{
    padding-top: 0px !important;
}

.lastchild
{ padding-bottom: 0px !important;

}
/* Dropdown Close */


i 
{
    padding: 0 0.7rem;
}

.Outer_Contai_Head_Nav
{
  
   
    background-color: var( --main-color);
}

.Inner_Contain
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px 0;
}

.Inner_Contain img
{

    width:7.5rem;

}


.Personal_Info container-fluid {
    font-family: "Jomolhari", system-ui;
}

.Personal_Info container-fluid h7 {
        font-family: 'Inter', sans-serif;
}

.container-fluid padding_left_right_sixty   {
    font-family: "Jomolhari", system-ui;
}

.account-container {
    font-family: "Jomolhari", system-ui;
}

.row d-flex justify-content-end container-fluid {
     font-family: "Jomolhari", system-ui;
}

.lg-size
{
    width: 80px;
}

/* nav, .icon
{
    This prevent text  align to second paragraph 
     flex-grow: 0;
    flex-shrink: 0; 
}*/

header nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px!important;
    min-width: 43rem;
    gap: 3.5rem;
}

 /* .header-list li
{
   padding: 0 1.7rem; 
  
}*/

.third-element 

{
    display: flex;
    gap: 15px;
}

.third-element img
{
    width: 1.7rem;
}

/*Account*/
.mybg-2{
    width: 22rem;
}

.font-weight-bold pt-5{
    right: 2rem;

}
#account-container {
    overflow-x: auto;
    width: right;
    padding: 5px;
    right:15rem;
}

#account-container table{
    border-collapse:collapse;
    width:100%;
    table-layout:fixed;
}

#account-container thead{
    font-weight:7;
}

#account-container thead td{
    background: #FFE8A3;
    color: #645144;
    border:none;
    border-radius: 100px 100px 100px 100px;
    text-align: center;
    width:11rem;
    margin: 11rem;
    padding: 6px 0;
}

#account-container table td {
    color: #848484;
    border: none;
    text-align: center;
}

#account-container table tbody img {
    width: 111px;
    height: 111px;
    object-fit: cover;
    border-radius: 100px;
}

#account-container table tbody i {
    color: #645144;
}

#account-bottom .coupon {
    margin-left: auto;
    text-align: right;
}

#account-bottom .coupon div>button{
    margin: 0 0 20px 12px;
    border: none;
}

#account-bottom .coupon>div {
    border: none;
}

#account-bottom .coupon h4 {
    color: #645144;
    border: none;
    padding: 6px 12px;
    background: #FFF1BA;
    font-weight: 700;
}

#account-bottom .coupon p {
    padding: 0px 12px;
    color: #848484;
}

#acocunt-bottom .coupon div>div {
    padding: 0 12px;
}

#account-bottom .coupon h5 {
    color: #645144;
}

#account-bottom .coupon div>button {
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
    background: #FFF1BA;
    margin-right: right;
    display: block;
    margin-left: auto;
}

#account-buttom .coupon-button {
    margin: 0 0 20px 12px;
    display: block;
    text-align: right;
}

.coupon
{
    position: relative;
    left: 30rem;
}

.coupon-button img{
    width:110;
    height:100;
    align-self:left;
    border-radius: 300px;
}

/*End Account*/



.row
{
    --bs-gutter-x: unset !important;
}

/* edit by jm */
.text-underline
{
    position: relative;
    display: inline-block;
    tet-decoration: underline;
}

.lineheight_unset
{
    line-height: unset !important;
}

/* edit by jm */
.margin_for_this
{
   margin:  6rem 0 3rem 0;
}

/* edit by jm */
i
{
    padding: 0;
}

/* .img_product
{
    padding: 0 116px;
    width: 0px !important;
} */

/* edit by jm */
.Item_size
{
    border: solid 1px #6c757d;
    width: 74px;
    padding: 2px;
    border-radius: 7px;
}

/* edit by jm */
.coupon-button
{
    text-align: left;
    border:none;
}

/* edit by jm */
.Confirm_btn
{
    border:none;
    border-radius:9px;
}

/* edit by jm */
.Personal_Info a
{
    color:unset;
  decoration: none;
}

.Personal_Info a:hover
{
    color:black;

}

.padding_left_right_sixty
{
    padding: 0 60px !important;
}

.pad-size
{
    padding-left: 2.7rem !important;
    color: grey;
}

.pad-size p
{
  text-decoration: underline;
    color: grey;
    padding-top: 3px;
}

.pad-size i
{
  padding-left:0;

        font-size: 20px;
    color: grey;
}

.card_with_color
{
background-color: var(--main-color) !important;
border: none !important;
}

.card-body
{
    width: 28rem;
}

.Custom_font_weight
{
    font-weight: 700;
}

.card-body button
{
    width: 9rem;
    height: 2.5rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
}

@media (max-width: 768px) {

    .padding_left_right_sixty
{
    padding:unset;
}
    .Recent_Order
    {
        padding-left: unset !important;
            width: unset !important;
    margin-left: 10px;
         margin-bottom:20px;
    }

     .PAYMENT_RECORD .ps-5
    {
          padding-left: unset !important;
    }

    .Check_All
    {
       
        margin-right: 0px;
         margin-bottom:20px;
    }

    .PAYMENT_RECORD .pe-5
    {
         padding-right: unset !important;
    }
    tr td
    {
        width:7rem !important;
        font-size:12px;
    }

    .pad-size
    {
        padding-left: 0.7rem !important;
    }
}
