.btn_add_cart:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.btn1:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.Product_1:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.Product_2:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.Product_3:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.teddybear:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.Flower_Card:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.card_item_Festival:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.card_item_Special:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.about:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
