
body
{
 background-color: ghostwhite !important;
}

.logout
{font-size: 20px;
        text-decoration: none;
      }

.logout
{
 margin: 0;

}

h2{
    font-family: serif;
}

.emptycart{
    padding: 40px;
    margin: 40px;
}

button {
    border-radius: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 45px;
    font-size:15px;
    background-color: #FFE8A3 ;
   
}

.pad-size
{
    align-items: center;
}

@media(max-width:1060px) {
    .container{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width:790px) {
    .container{
        width: 100%;
        padding: 10px;
    }
}
