:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --bs-font-sub-san:"Jomolhari", system-ui !important;
    --bs-font-main-san: "Italiana", sans-serif !important;
    --font-weight-thin: 200;
    --font-weight-normal:400;
    --font-weight-heavy:600;
    --font-style: normal;
    --main-color: #FFF1BA;
    --Second-color:#FFC700;
  }

footer
{
font-family:var(--bs-font-sans-serif) !important;
}

footer nav ul
{
    list-style-type: none;
    display: block;
    justify-content: unset;
    margin-bottom: 0px !important;
    min-width: unset;
    gap:unset;
}

footer ul
{
    padding-left: unset
}

footer ul li, footer a
{
    margin: 10px 0;
    color: black;
    text-decoration: none;
    list-style-type: none;

}
footer h5
{
    font-weight: 600;
    margin-bottom: 20px;
}

footer p
{
    margin-bottom: unset;
    
}

.paragraph_smaller
{
    font-size: smaller;
    gap: 10px 0;
    margin: 10px 0;
}

.navigation-bar2
{
    margin-bottom: 10rem;
}

footer i
{
    font-size: 30px;
}

footer .iconic i
{
    font-size: 20px;
}

@media (max-width: 768px) {
   .FooterItem:nth-child(4){
    order: 1;
    margin: 30px 0;
   }

   .FooterItem:nth-child(1){
    order: 4;
    margin:30px 0;
   }

   .FooterItem:nth-child(3){
    order: 2;
    margin:30px 0;
   }

   .FooterItem:nth-child(2){
    order: 3;
    margin:30px 0;
   }

   .paragraph_smaller
   {
    width: 20rem;
   }

   .navigation-bar2 {
    margin-bottom: 3rem;
}
}