.second-element
{
padding-left: 0;
}

/* line animation open */
.header-list a 
{
    text-decoration: none;
    color: black;
position: relative;
padding-bottom: 1.55rem;
     
}


.header-list a:after {    

bottom: 0;
content: "";
display: block;
height: 3px;
left: 50%;
position: absolute;
background: var( --Second-color);
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;

}
.header-list a:hover:after { 
width: 100%; 
left: 0; 
}

.header-list a:hover
{
 color: rgb(71, 60, 17) !important;
}

/* line  animation close */

/* Dropdown Open */
header nav ul li ul
{
    display: none;
    position: absolute;
    transform: translate(-89px, 23px);
    background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    z-index: 1;
    /* text-align: center;
   */
   min-width: unset;
}

header nav ul li ul li
{
    padding: 14px 1.7rem !important;
    min-width: none;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.header-list li:hover .FirstDropdown { 
    display: block;
    }

    .header-list li:hover .SecondDropdown { 
        display: block;
        }

        .header-list li:hover .ThirdDropdown { 
            display: block;
            }

.firstchild
{
    padding-top: 0px !important;
}

.lastchild
{ padding-bottom: 0px !important;

}
/* Dropdown Close */


i 
{
    padding: 0 0.7rem;
}

.Outer_Contai_Head_Nav
{
  
   
    background-color: var( --main-color);
}

.Inner_Contain
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px 0;
}

.Inner_Contain img
{

    width:7.5rem;

}


.lg-size
{
    width: 80px;
}

/* nav, .icon
{
    This prevent text  align to second paragraph 
     flex-grow: 0;
    flex-shrink: 0; 
}*/

header nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px!important;
    min-width: 43rem;
    gap: 3.5rem;
}

 /* .header-list li
{
   padding: 0 1.7rem; 
  
}*/

.third-element 

{
    display: flex;
    gap: 15px;
}

.third-element img
{
    width: 1.7rem;
}
