:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --bs-font-sub-san:"Jomolhari", system-ui !important;
    --bs-font-main-san: "Italiana", sans-serif !important;
    --font-weight-thin: 200;
    --font-weight-normal:400;
    --font-weight-heavy:600;
    --font-style: normal;
    --main-color: #FFF1BA;
    --Second-color:#FFC700;
  }



  .fixed_Header
  {
     
        
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    height: 11%;
    width: 100%;
  }
  
  .second-element
  {
  padding-left: 0;
  }
  
  /* line animation open */
  .header-list a 
  {
      text-decoration: none;
      color: black;
  position: relative;
  padding-bottom: 1.55rem;
       
  }
  
  
  .header-list a:after {    
  
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: var( --Second-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
  }
  .header-list a:hover:after { 
  width: 100%; 
  left: 0; 
  }
  
  .header-list a:hover
  {
   color: rgb(71, 60, 17) !important;
  }
  
  /* line  animation close */
  
  /* Dropdown Open */
  header nav ul li ul
  {
      display: none;
      position: absolute;
      transform: translate(-89px, 23px);
      background-color: white;
      padding: 9px 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 21px;
      z-index: 1;
      /* text-align: center;
     */
     min-width: unset;
  }
  
  header nav ul li ul li
  {
      padding: 14px 1.7rem !important;
      min-width: none;
      
  }
  
   /* This is hover the li only when your mouse inside dropdown*/ 
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .header-list li:hover .FirstDropdown { 
      display: block;
      }
  
      .header-list li:hover .SecondDropdown { 
          display: block;
          }
  
          .header-list li:hover .ThirdDropdown { 
              display: block;
              }
  
  .firstchild
  {
      padding-top: 0px !important;
  }
  
  .lastchild
  { padding-bottom: 0px !important;
  
  }
  /* Dropdown Close */
  
  
  i 
  {
      padding: 0 0.7rem;
  }
  
  .Outer_Contai_Head_Nav
  {
    
     
      background-color: var( --main-color);
  }
  
  .Inner_Contain
  {
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      padding: 20px 0;
  }
  
  .logo img {
      width: 7.5rem; /* Fixed width relative to root font size */
      max-width: 100%; /* Ensure it scales down if needed */
      height: auto; /* Maintain aspect ratio */
  }
  
  
  .lg-size
  {
      width: 80px;
  }
  
  /* nav, .icon
  {
      This prevent text  align to second paragraph 
       flex-grow: 0;
      flex-shrink: 0; 
  }*/
  
  header nav ul 
  {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0px!important;
      min-width: 43rem;
      gap: 3.5rem;
  }
  
   /* .header-list li
  {
     padding: 0 1.7rem; 
    
  }*/
  
  .third-element 
  
  {
      display: flex;
      gap: 15px;
      align-items: center;
     
  }
  
  .third-element i
  {
      padding: 0 !important;
  }
  
  .third-element img
  {
     width: 1.7rem;
      max-width: 100%;
      height: auto;
  }
  
  .burger-icon, .menu-text {
      display: none !important;
  }
  
  /* Mobile Dropdown here Open */
  .mobile-dropdown {
      display: none;
      background-color: white;
      padding: 9px 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 21px;
      position: absolute;
      top: 70px;
      right: 49px;
      width: 28rem;
      z-index: 1000;
  }
  
  /* Style the dropdown menu items */
  .mobile-dropdown ul {
      list-style: none;
      padding: 0;
      margin: 0;
      
  }
  
  /* .mobile-dropdown li {
      border-bottom: 1px solid #444;
  } */
  
  .mobile-dropdown a {
      display: block;
      padding: 15px;
      color:black !important;
      text-decoration: none;
  }
  
  .mobile-dropdown a:hover {
    
      color:rgb(71, 60, 17) !important;
      
  }
  
  /* .mobile-dropdown a:hover {
      background-color: #555;
  } */
  
  /* Show the dropdown menu when 'active' class is added */
  .mobile-dropdown.active {
      display: block;
  }
  
  
  
  
  .collapsible-content {
      display: none; /* Hidden by default */
      padding-left: 20px; /* Indentation for nested items */
      background-color: var(--main-color);
  }
  
  .collapsible-content li {
      border: none; /* Remove border for nested items */
  }
  
  /* Show the dropdown menu when 'active' class is added */
  .mobile-dropdown.active {
      display: block;
  }
  /* Mobile Dropdown here Close */
  

  /* Responsive Open */
  
@media (max-width: 1156px){
    .second-element
    {
        gap:0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-list {
        display: none; /* Hide the header list on mobile */
    }

    .first-element{
        margin: 0 15px;
    }

    .third-element img {
        width: 1.3rem;
    }

    .third-element{
        gap: 10px;
        margin: 0 15px;
    }

    .burger-icon, .menu-text{
        display: flex !important;
        align-items: center;
        font-size: 20px; /* Adjust size as needed */
        cursor: pointer; 
       
    }

    .ColorofMenu{
        display: flex;
        gap: 10px;
        transition: color 0.3s ease; 
    }

    .ColorofMenu:hover{
        color: #a52a2a;
    }

    .menu-text{
        font-family: var( --bs-font-sub-san);
        font-weight: var( --font-weight-heavy);
    }
    
    .mobile-dropdown
    {
        background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    position: absolute;
    top: 70px;
    right: 70px;
    width: 50rem;
    z-index: 1000;
    }

    .collapsible-content 
    {
   
   

    width: 50rem;
    position: relative;
    right: 60px;
    padding: 0 59px !important;
    }

}


        @media (min-width: 576px) and  (max-width: 767.98px) {


            .header-list {
        display: none; /* Hide the header list on mobile */
    }

    .first-element{
        margin: 0 15px;
    }

    .third-element img {
        width: 1.3rem;
    }

    .third-element{
        gap: 10px;
        margin: 0 15px;
    }

    .burger-icon, .menu-text{
        display: flex !important;
        align-items: center;
        font-size: 20px; /* Adjust size as needed */
        cursor: pointer; 
       
    }

    .ColorofMenu{
        display: flex;
        gap: 10px;
        transition: color 0.3s ease; 
    }

    .ColorofMenu:hover{
        color: #a52a2a;
    }

    .menu-text{
        font-family: var( --bs-font-sub-san);
        font-weight: var( --font-weight-heavy);
    }

    .mobile-dropdown
    {
        background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    position: absolute;
    top: 70px;
    right: 45px;
    width: 35rem;
    z-index: 1000;
    }
    
    .collapsible-content 
    {
        padding: 0 61px !important;
    width: 35rem;
    position: relative;
    left: -60px;
    }
}

@media (max-width: 575.98px)
{
    .header-list {
        display: none; /* Hide the header list on mobile */
    }

    .first-element{
        margin: 0 15px;
    }

    .third-element img {
        width: 1.3rem;
    }

    .third-element{
        gap: 10px;
        margin: 0 15px;
    }

    .burger-icon, .menu-text{
        display: flex !important;
        align-items: center;
        font-size: 20px; /* Adjust size as needed */
        cursor: pointer; 
       
    }

    .ColorofMenu{
        display: flex;
        gap: 10px;
        transition: color 0.3s ease; 
    }

    .ColorofMenu:hover{
        color: #a52a2a;
    }

    .menu-text{
        font-family: var( --bs-font-sub-san);
        
    }

    .mobile-dropdown {
    display: none;
    background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    position: absolute;
    top: 70px;
    right: 16px;
    width: 28rem;
    z-index: 1000;
}

.collapsible-content 
    {
   
    width: 28rem;
    position: relative;
    right: 3.7rem;
    padding: 0 55px !important;
    }

    
}
    /* Responsive Close */
