
body
{
 background-color: ghostwhite;
}

*{
    margin: 0 auto;
    padding: 0;
}

.cnf{
    text-decoration: none;
     color: black;}

:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --main-color: #FFF1BA;
    --Second-color:#FFC700;
  }

body
{
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
  
}

h2
{
    margin: 0 0;
}

.Login{
    padding: 100px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.confirm{
    text-align: center;
    width: 200px;
    height: 35px;
    font-size:15px; 
    background-color: #FFE8A3; 
    border-radius: 7px;  
    font-family:Arial, Helvetica, sans-serif;
}



.input-container {
    position: relative;
    width: 400px; /* Adjust width as needed */
    
  }
  
.input-container input {
    width: 100%;
    padding-right: 10px; /* Add padding to accommodate the link */
    border-radius: 10px;
    height:40px;
  }

.input-container text{
    text-align: center;
}

  .input-container .forgot-password {
    position: absolute;
    right: 10px; /* Align to the right edge */
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #888; /* Light grey color for subtle appearance */
    text-decoration: none;
    background-color: transparent; /* Ensure no background color */
  }

  .signup{
    
    color: #888;
  }

@media (max-width: 768px) {

    .input-container {
      right:5rem;
}


.input-container input {
       width: 92%;
}

    .input-container .forgot-password {
    position: absolute;
    right: 35px;
    top: 50%;
    }

}

  
