


*{
    margin: 0 auto;
    padding: 0;
}

:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --bs-font-sub-san:"Jomolhari", system-ui !important;
    --bs-font-main-san: "Italiana", sans-serif !important;
    --font-weight-thin: 200;
    --font-weight-normal:400;
    --font-weight-heavy:600;
    --font-style: normal;
    --main-color: #FFF1BA;
    --Second-color:#FFC700;
  }

.title h2 
{
    font-family:var(--bs-font-main-san) ;
    font-weight:var(--font-weight-thin) ;
    font-style:var( --font-style) ;
}

.FourthContain strong, .Fifth_Contain strong  , .Sixth_Contain h2
{
    font-family:var(--bs-font-main-san) ;
    font-weight:var(  --font-weight-heavy) ;
    font-style:var( --font-style) ;
}

.label, .Inner_Contain_Title2, .Inner_Contain_Title3,
.FourthContain ,.Fifth_Contain,
.Sixth_Contain, .Sixth_Contain p strong
{
 font-family: var(--bs-font-sub-san);;
}

body, .Inner_Contain_Title2 p ,  .Sixth_Contain p
{
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
  
}


/* ---------------------------header by Jiaming open -------------------------------------------*/
.second-element
{
padding-left: 0;
}

/* line animation open */
.header-list a 
{
    text-decoration: none;
    color: black;
position: relative;
padding-bottom: 1.55rem;
     
}


.header-list a:after {    

bottom: 0;
content: "";
display: block;
height: 3px;
left: 50%;
position: absolute;
background: var( --Second-color);
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;

}
.header-list a:hover:after { 
width: 100%; 
left: 0; 
}

.header-list a:hover
{
 color: rgb(71, 60, 17) !important;
}

/* line  animation close */

/* Dropdown Open */
header nav ul li ul
{
    display: none;
    position: absolute;
    transform: translate(-89px, 23px);
    background-color: white;
    padding: 9px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    z-index: 1;
    /* text-align: center;
   */
   min-width: unset;
}

header nav ul li ul li
{
    padding: 14px 1.7rem !important;
    min-width: none;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}

.header-list li:hover .FirstDropdown { 
    display: block;
    }

    .header-list li:hover .SecondDropdown { 
        display: block;
        }

        .header-list li:hover .ThirdDropdown { 
            display: block;
            }

.firstchild
{
    padding-top: 0px !important;
}

.lastchild
{ padding-bottom: 0px !important;

}
/* Dropdown Close */


i 
{
    padding: 0 0.7rem;
}

.Outer_Contai_Head_Nav
{
  
   
    background-color: var( --main-color);
}

.Inner_Contain
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px 0;
}

.Inner_Contain img
{

    width:7.5rem;

}


.lg-size
{
    width: 80px;
}

/* nav, .icon
{
    This prevent text  align to second paragraph 
     flex-grow: 0;
    flex-shrink: 0; 
}*/

header nav ul 
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0px!important;
    min-width: 43rem;
    gap: 3.5rem;
}

 /* .header-list li
{
   padding: 0 1.7rem; 
  
}*/

.third-element 

{
    display: flex;
    gap: 15px;
}

.third-element img
{
    width: 1.7rem;
}


/* ----------------------------------- header by Jiaming Close------------------------------------- */



/* ----------------------------------- Section 1 by Jiaming Open------------------------------------- */

.background-section {
    background-image: url('../assets/banner/bannerbackground.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* height: 100vh; Set height as needed; this example makes it full viewport height */
    width: 100%; /* Ensure the section takes the full width */
  }

  .Inner_Contain_Title, .label, .btn1 , .title h2
  {
    position: relative;
  }

  .Inner_Contain_Title
  {
    text-align: center;
    top: 4rem;
  }

  .ContainFirst
  {
    padding: 10rem 0px;
  }

  .label
  {
    /* padding: 29px 33px; */
    background-color: var( --main-color);
    z-index: 1;
    bottom: -6rem;
  }

  .label p
  {
   margin-bottom: 0;
  }

  .label, .icon_1, .icon_2, .icon_3
  {
    display: flex;
    align-items: center;
   
    justify-content: center;
  }

   .icon_1, .icon_2, .icon_3
  {
   text-align: left !important;
  }
  

  .img1, .img2, .img3
  {
    width: 9rem;
  }

  .title h2
  {
    /* padding-top: 7rem; */

    font-size: 4rem;
    display: block;
    text-align: center;
    top:-6rem;
  }

  .btn1
  {
  background-color: var(--main-color);
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 4rem;
  }

  .label h3
  {
    font-size: 1.6rem;
  }


/* ----------------------------------- Section 1 by Jiaming Close------------------------------------- */

/* ----------------------------------- Section 2 by Jiaming Open------------------------------------- */


.background-section-2 {
    background-image: url('..assets/banner/website-background-texture-01.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Set height as needed; this example makes it full viewport height */
    width: 100%; /* Ensure the section takes the full width */
  }

  .background-section-change-height1
  {
    background-image: url('../assets/banner/website-background-texture-01.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 46rem; /* Set height as needed; this example makes it full viewport height */
    width: 100%; /* Ensure the section takes the full width */
  }


  .Hot_deal_item
  {
    margin: 0;
  }

  .Inner_Contain_Title2
  {
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 4%;
  }

  .Inner_Contain_Title2 h3
  {
    padding: 27px 0;
  }

.Hot_deal_Product_img
{
   display: flex;
   justify-content: center;
   /* max-width: 31rem; */
    gap: 30px;
}

.Hot_deal_Product_img img
{
    border-radius: 43% 43% 0 0;
   width: 20rem;
   position: relative;
}

.product-label-hot
{
    padding: 10px;
    position: relative;
    transform: translate(0px, -65px);
    background-color: var(--main-color);
}

.product-label-hot p
{
   margin-bottom: 0 !important;
}
/* ----------------------------------- Section 2 by Jiaming Close------------------------------------- */

/* ----------------------------------- Section 3 by Jiaming Open------------------------------------- */

.background-section-change-height
{
    background-image: url('../assets/banner/bannerbackground.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 46rem;
    width: 100%; 
}
.Teddy_product
{
    position: relative;
    top: 2rem;
}

.Teddy_product img
{
    width: 16rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
   
}



.Group_Element
{
    position: relative;
    top:-51px
}

.left_product 
{
    right: 60px;
}

.right_product
{
    left: 60px;
}

.center-product
{
    width: 33% !important;
    bottom:  17.5rem;
    z-index: 0 !important;
}


.content_Left
{
    display: flex;
    align-items: center;
    left: 13rem;
    position: relative;
    top: 9rem;
    font-size: 1.3rem;
}

.Second_Conten
{
    left: 10rem !important;
    top: 8rem;
    align-items: normal !important;
}

.Second_Conten p
{
    width: 16rem;
    text-align: end;
}

.content_Left p, .content_Left i ,.content-right p ,.content-right i
{
    margin: 0 !important;
}

.content-right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3rem;
    position: relative;
    right: 13rem;
   
    bottom: 9rem;
}

/* ----------------------------------- Section 3 by Jiaming Close------------------------------------- */

/* ----------------------------------- Section 4 by Jiaming Open------------------------------------- */
.FourthContain p
{

    font-size: 20px;
    position: relative;
    top: 1rem;

}

.FourthContain h3
{
    font-size: 1.3rem;
    margin-bottom: unset;
}

.Flower_type_product img
{
    width: 14rem;
    border-radius: 36% 36% 0 0;
}

.Flower_type_product
{
    position: relative;
    top: 4rem;
    display: flex;
    max-width: 1rem;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.Circle_Content
{   
    height: 135px;
    width: 135px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 4px solid #64636387;
    top: -5rem;
    left: 4rem;
    position: relative;
    text-align: center;
    justify-content: center;
}


/* ----------------------------------- Section 4 by Jiaming Close------------------------------------- */

/* ----------------------------------- Section 5 by Jiaming Open------------------------------------- */

.background-section-change-height4
{
    background-image: url('../assets/banner/bannerbackground.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 69rem;
    width: 100%; 
}

.Festival_Bouquet_product img
{
    width: 12rem;
   
    /* width: 100%;
    height: 100%;
    object-fit: contain; */
}

.Fifth_Contain p
{
    position: relative;
    top: 1rem;
    font-size: 1.3rem;
}

.Festival_Bouquet_product p
{
    font-size: 1rem;
    top: 2rem;
}

.Festival_Bouquet_product
{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px,0fr));
    gap: 100px 54px;
    justify-content: center;
    position: relative;
    top: 4rem;

    /* display: flex;
    flex-wrap: wrap;
    padding: 25px 282px;
    position: absolute; */
}
/* ----------------------------------- Section 5 by Jiaming Close------------------------------------- */

/* ----------------------------------- Section 6 by Jiaming Open------------------------------------- */
.background-section-change-height2
{
    background-image: url('../assets/banner/website-background-texture-01.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 84rem; /* Set height as needed; this example makes it full viewport height */
    width: 100%; /* Ensure the section takes the full width */
}

.Sixth_Contain p
{
    top: 1rem;
    position: relative;
    font-size: 1.6rem;
}

.Special_Festival_type_product img
{
    width: 19rem;
    border-radius: 22% 22% 0 0;
}

.Special_Festival_type_product p
{
    margin-bottom:0 !important;
}

.Special_Festival_type_product
{
    display: grid; 
    grid-template-columns: repeat(3, minmax(358px, 0fr));
    gap: 50px 10px;
    justify-content: center;
    position: relative;
    top: 4rem;

    /* display: flex;
    flex-wrap: wrap;
    padding: 25px 282px;
    position: absolute; */
}

.Product_label_Special
{
    padding: 10px;
    position: relative;
    transform: translate(0px, -21px);
    background-color: var(--main-color);
}

.Product_label_Special p
{
    top: 0 !important;
    font-size: unset;
}

.Center_big_Img img
{
    width: 23rem;
    
}
/* ----------------------------------- Section 6 by Jiaming Close------------------------------------- */



/* ----------------------------------- Section 7 by Jiaming Open------------------------------------- */

    .background-section-change-height3
    {

        background-image: url('../assets/banner/bannerbackground.jpg');
    background-size: cover; /* Adjust size to cover the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 37rem;
    width: 100%; 




    }

    .LogoHorizontal
    {
       
        display: flex;
        justify-content: center;
        gap: 95px;
    }

    .LogoHorizontal img, .ContentOfBrand
    {
        margin: 0 !important;
    }

    .LogoHorizontal img
    {
        width: 28rem;
        border-radius: 22% 22% 0 0;
    }

    .ContentOfBrand, .ContentOfBrand p, .ContentOfBrand h1
    {
        position: relative;
    }

    .ContentOfBrand
    {
        text-align: left;
        /* right: 9rem; */
    }

    .ContentOfBrand p
    {
       top: 3rem;
    }

    .ContentOfBrand h1
    {
        top: 2rem;
    }

/* ----------------------------------- Section 7 by Jiaming Close------------------------------------- */



