
*{
    margin: 0 auto;
    padding: 0;
}

:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --main-color: #FFF1BA;
  }

body
{
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
     background-color: ghostwhite !important;
  
  
}

a {
    text-decoration: none;
}

.card_item_Special:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.card_item_Festival:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.rv:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.input-box{
    font-family: "Jomolhari", system-ui;
}

.col-md-6 {
    font-family: "Jomolhari", system-ui;
}

.mt-4 {
    font-family: "Jomolhari", system-ui;
}

.container1{
    font-family: "Jomolhari", system-ui;
}

.container2{
    font-family: "Jomolhari", system-ui;
}

.container3{
    font-family: "Jomolhari", system-ui;
}

.flower-price
{
    font-size: inherit; /* Use inherit instead of unset */
    font-family: 'Inter', sans-serif;
    color: #666666;
}

 ._Second_mini
{
    position: relative;
    right: 30px;
}

.flower-name 
{
    font-size: inherit; /* Use inherit instead of unset */
    font-family: "Jomolhari", system-ui;
}

/*------------------product detail by Sheryl Ng--------------------*/
.row{
    justify-content: left;
}

/* .small-img-group{
    display: flex;
    justify-content: space-between;
} */

.small-img-col{
    flex-basis:24% ;
    cursor:pointer;

}

.rv{
    background-color: beige;
    margin: 10px 5px;
    height: 200px;
    padding: 5px;
}

/* .container1{
    padding:100px;
} */

/* .container2{
    padding: 100px;
} */

.container2 button{
   
   
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height:35px ;
}

.container button{
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height:35px ;
    margin: 0 3px;
    border: 1px solid;
}


.imgsize
{
    height: 20px !important;
    width: 20px !important;
}

.imgsize2
{
    height:70px;
    width: 70px;
    border-radius: 50px;
}

.btn-br
{
    border-radius: 10px;
    border: solid 1px;
}

.btn_add_cart
{
    width: 27rem !important;
    height: 3rem !important;
}

.small_img_Parent .small-img-col
{
    margin: 0;
    
}

.text_space
{
    text-indent: 1.2rem;
}

.mb-7
{
    margin-bottom: 9rem;
}

.my-6
{
    margin-top: 5rem ;
    margin-bottom: 5rem;
}

.custom-bg-color
{
    background-color: var(--main-color) !important;
}

.fontsmall
{
    font-size: 12px ;
}

/* .mlforce 
{
    margin-left: 70px ;
} */

.h-110
{
    height: 110%;
}

/* Section Copy */
.Special_Festival_type_product img
{
    width: 14rem;
    border-radius: 22% 22% 0 0;
}

.Special_Festival_type_product p
{
    margin-bottom:0 !important;
}

.Special_Festival_type_product
{
    display: grid; 
    grid-template-columns: repeat(4, minmax(270px, 0fr));
    justify-content: center;
   

    /* display: flex;
    flex-wrap: wrap;
    padding: 25px 282px;
    position: absolute; */
}

.font_size_pointfive
{
    font-size: 1.25rem;
}

.Product_label_Special
{
    padding: 10px;
    position: relative;
    transform: translate(0px, -21px);
    background-color: var(--main-color);
    text-align: center;
    border-radius: 0 0 1rem 1rem;
}

.Product_label_Special p
{
    top: 0 !important;
    font-size: unset;
}
.Main_img
{
    border-radius: 25px;
}

.bordermini
{
    border-radius: 18px;
}

.justi_props
{
    justify-content: flex-start;
   
}


.width_Fiveplus
{
    width: 50%;
}

 
_Second_mini
{
  
    position: unset;
    right: unset;

}
 ._Third_mini
{
    position: relative;
    right: 53px;
}

.Additional_container
{

}

@media (max-width: 768px)
{

    .Main_Img_Product
{
    display:grid;
}

.mini_contai_img
{
    display: flex;
}

.bordermini
{
margin: 0;
}

.width_Fiveplus
{
    width: 100%;
}

._First_mini
{ 
    justify-content: end;
        position: unset;
    right: unset;
}

._Second_mini
{ 
    justify-content: center;
}

    ._Third_mini
{ 
    justify-content: end;
     position: unset;
    right:0;
}

.Main_img
{
margin-bottom: 25px;
}


    .Special_Festival_type_product {
        grid-template-columns: repeat(2, minmax(200px, 0fr));
}

    .justi_props
    {
        justify-content: center !important;
        margin-bottom: 30px;
    }

      .justi_props img
    {
       width: 80%;
    }
    
.Special_Festival_type_product img {
    width: 9rem;
}

    .card_item_Festival
    {
        display: grid;
    }

    .Product_label_Special 
    {
        max-width: 9rem;
        width: 9rem;
    }

    .card-body h5
    {
        font-size: 1.1rem;
    }

    .imgsize2 {
        height: 45px;
        width: 45px;
    }

    .fontsmall
    {
        font-size: 0.6rem;
       
        padding: 0 15px !important;
    }

    .rating 
    {
        font-size: 0.9rem !important;
    }

    .date h4
    {
        font-size: 13px;
    }

    .Additional_container
{
display:flex;

}


}
