*{
    margin: 0 auto;
    padding: 0;
}

.cnf{
    text-decoration: none;
     color: black;}

:root {
    --bs-font-sans-serif: 'Inter', sans-serif  !important;
    --main-color: #FFF1BA;
    --Second-color:#FFC700;
  }

body
{
    font-family: var(--bs-font-sans-serif);
    font-weight: 400;
     background-color: ghostwhite !important;
  
}

h2
{
    margin: 0 0;
}

.sign-up{
    padding: 100px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.CA{
    text-align: center;
    width: 200px;
    height: 35px;
    font-size:15px; 
    background-color: #FFE8A3; 
    border-radius: 7px;  
    font-family:Arial, Helvetica, sans-serif;
}

.input-container {
    position: relative;
    width: 400px; /* Adjust width as needed */
   
  }
  
.input-container input {
    width: 100%;
    padding-right: 10px; /* Add padding to accommodate the link */
    border-radius: 10px;
    height:40px;
  }

  .login{
 
    color: #888;
  }


@media (max-width: 768px) {



form
    {
display:grid;
        justify-content:center
    }

}
